.jumbotron {
    font-style: italic;
    height: 150px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0;
    background-color: #87CEFA;
}

.navbar {
    background-color: #87CEFA;
    border-color: #87CEFA;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px auto 350px 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.leftTop,
.centerTop,
.rightTop{
    text-align: center;
    margin-top: 50px;
}

.left {
    display: grid;
    grid-template-rows: minmax(200, 250);
    text-align: center;
}

.individualPhotos p {
    margin-bottom: 0;
}

.individualPhoto {
    width: 50px;
}

.Matt {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 150px;
}

.Eddie {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 150px;
}

.Michael {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 150px;
}

.Chas {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 100px;
}

.center {
    display: grid;
    grid-template-columns: 4fr;
}

.centerTop h2 {
    font-weight: 900;
}

.centerHead {
    text-align: center;
}

.centerBody {
    grid-column: 1 / 3;
    grid-row: 2;
    font-weight: bold;
    text-align: center;
    align-self: start;
}

.right {
    display: grid;
    grid-column:3 / 4;
    grid-row: 1;
    grid-template-columns: 250px;
    grid-template-rows: 150px auto;
}

.rightTop {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.officePhoto {
    grid-column: 1 / 2;
    grid-row: 2 /3;
}

#officePicture {
    width: 250px;
    margin-right: 50px;
}

.officeInfo {
    grid-column: 1 / 2;
    grid-row: 3;
    margin-right: 50px;
}

.rightSpacer {
    display:hidden;
    grid-column: 4 / 5;
    grid-row: 1;
}

.bodyHead h5 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.bodyHead0 h4 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin-top: 100px;
}

.list {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 0;
}

.list li {
    padding-bottom: 10px;
}

.centerTop {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-auto-rows: minmax(100, auto);
    text-align: center;
    font-weight: bold;
}

.individualDetails {
    grid-template-area: img, content;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/*Footer*/
.footer {
    bottom: 0;
    background-color: #4d85ff;
    color: white;
    text-align: center;
    display:block;
}
.foot {
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.alink:link {
    color: white;
}

.alink:hover {
    color: #ccffff;
}

.alink:visited {
    color: #e6ccff;
}

.icons {
    width: 30px;
    margin-top: 5px;
}


