.jumbotron {
    font-style: italic;
    height: 150px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0;
    background-color: #87CEFA;
}

.navbar {
    background-color: #87CEFA;
    border-color: #87CEFA;
}
