body {
    background-color: #87CEFA;
    font-family: 'Montserrat', sans-serif;
    height: 100%; 
}
h1, h2 {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
#comments {
    height: auto;
}
.form-control{
  display: block;
  width: 100%; 
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555; /* THIS */
  background-color: #fff;
  border: 1px solid #ccc; /* THIS */
  border-radius: 4px; /* THIS */
}
.footer {
    bottom: -110px;
    background-color: #4d85ff;
    color: white;
    text-align: center;
    display: block;
    position: relative;
}
.foot {
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.alink:link {
    color: white;
}

.alink:hover {
    color: #ccffff;
}

.alink:visited {
    color: #e6ccff;
}

.icons {
    width: 30px;
    margin-top: 5px;
}
