body {
    background-color: #87cefa;
}

.jumbotron {
    border-style: solid;
    border-color: #87cefa;
    border-width: .5rem;

}

.dropdown-menu {
    max-width: 10px;
}

#navbar {
    text-align: center;
    float: none;
    display: inline-block;
    /*background-color: #87cefa;*/
}



#header {
    text-align: center;
}

.container {
    background-color: #87cefa;
}

#inner-jumbotron {
    border-style: solid;
    border-color: #87cefa;
    /*border-width: px;*/
}



#playerCard {

    text-align: center;
    background-color: white;
}

.player-attributes {
    font-family: 'Playfair Display SC', serif;
    color: red;
    text-align: left;
    font-size: 12px;
}

.player-values,
#playerName {
    font-size: 22px;
    font-family: lucida calligraphy;

}

#playerName {
    font-size: 30px;
}

#top5 {
    font-family: Playfair Display SC;
    font-size: 40px;
    text-align: center;
}

.categories {
    font-size: 18px;
}

#card-photo {
    border-style: double;
    border-color: #87cefa;
    border-width: 5px;
}

#indicators {
    background-color: #87cefa;
}

#allPlayers {
    text-align: center;

}

#card {
    color: red;
    /*border-style: dotted;*/
    border-color: #87cefa;
}

@media (min-width: 1680) {
    .container {
        width: 1640;
    }

    .jumbotron {
        width: 16400px;
        height: 30%;
        width: 30%;
    }

    .player-attributes {
        text-align: center;

    }

    #navbutton {
        text-align: center;
    }

    .card-photo {
        width: 33%;
    }

    .player-attributes {
        width: 33%;
        font-size: 8px;
    }

    .categories {
        width: 33%;
    }

    .carousel-container {
        height: 30%;
    }
}
