.jumbotron {
    border-style: solid;
    border-color: #87cefa;
    border-width: 10px;

}


#header {
    text-align: center;
}

.container {
    background-color: #87cefa;
}

#inner-jumbotron {
    border-style: solid;
    border-color: #87cefa;
    border-width: 10px;
}



#playerCard {
    border-style: solid;
    border-color: #87cefa;
    text-align: center;
    background-color: white;
}

.player-attributes {
    color: red;
    text-align: left;
}

.player-values {
    font-size: 10px;
    font-family: lucida calligraphy;

}

.categories {
    font-size: 13px;
}




@media (min-width: 1680) {
    .container {
        width: 1640;
    }

    .jumbotron {
        width: 1640;
        height: 30%;
    }
}
