body {
    margin: 0em;
    width: 100%;
    height: 75%;
}
.jumbotron {
    height: 150px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0;
    background-color: #4d85ff;
}

.button-display-left {
    color: #fffimportant;
    background-color: #000important;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    /*color: inherit;*/
    /*background-color: inherit;*/
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.button-display-right {
    color: #fffimportant;
    background-color: #000important;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    /*color: inherit;*/
    /*background-color: inherit;*/
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.mySlides {
    float: left;
    width: 100%;
    height: 100%;
    display: none;
}
.footer {
    bottom: 0;
    background-color: #4d85ff;
    color: white;
    text-align: center;
    display:block;
}
.foot {
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.alink:link {
    color: white;
}

.alink:hover {
    color: #ccffff;
}

.alink:visited {
    color: #e6ccff;
}

.icons {
    width: 30px;
    margin-top: 5px;
}

@media (min-width: 1680) {
.container {
width: 1640;
}
}