body {
    margin: 0em;
    width: 100%;
    height: 75%;
    background-color: #87CEFA;
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
    font-style: italic;
    height: 150px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0;
    background-color: #87CEFA;
}
.navbar {
    background-color: #87CEFA;
    border-color: #87CEFA;
}
.login {
    text-align: center;
    
}
.footer {
    bottom: 0;
    background-color: #4d85ff;
    color: white;
    text-align: center;
    display:block;
}
.foot {
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px 0px 20px;
    position: relative;
}

.alink:link {
    color: white;
}

.alink:hover {
    color: #ccffff;
}

.alink:visited {
    color: #e6ccff;
}

.icons {
    width: 30px;
    margin-top: 5px;
}

@media (min-width: 1680) {
.container {
width: 1640;
}
}